<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="td1"></div>
    <button onclick="counter()">Counter</button>
    <script>
        let count = 0;
        function counter() {
            let c = localStorage.getItem(`count`);
            if (c == null)
                count = 0;
            else
                count = Number(c);
            count++;
            td1.innerHTML = count;
localStorage.setItem("count",count);




        }
    </script>
</body>

</html>